/* 초기값 */
* {
  margin: 0; padding: 0;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 본문 스타일 */
#container {
  width: 900px; height: 980px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 20px auto;
  padding: 15px 40px;
}
form {
  margin-left: 45px;
}

/* 메뉴 타이틀 스타일 */
h1, p, hr {
  text-align: center;
  margin-top: 25px;
}
mark {
  font-size: 1.2em;
}

/* 메뉴 본문 스타일 */
h3 {
  margin-top: 38px;
  margin-bottom: 20px;
  padding-left: 20px;
}
li {
  padding-left: 50px;
}
label.info {    /*라벨길이마다 input 박스 위치가 달라서*/
  width: 62px; /*라벨은 인라인 이라 정렬 아직안됨*/
}
label, input {
  display: inline-block; /*inline-block으로 바꿔주면 정렬됨*/
  font-size: 18px;
  margin-left: 8px;
  margin-bottom: 14px;
}

/* 버튼 스타일 */
.buttons {
  text-align: center;
}
.buttons > input {
  width: 180px; height: 35px;
  margin: 10px;
  border: 0;
  box-shadow: 1px 1px 2px gainsboro;
}